@import "colors.css";

.company {
  margin-bottom: 1.5rem;
}
.company + .company {
  border-top: 1px solid var(--color-tertiary-3);
  padding-top: 1.5rem;
}

.company li {
  list-style-type: disc;
  margin: 0.5rem 2rem;
}

.company a {
  color: var(--color-tertiary-3);
}

.company__name {
  margin-bottom: 0.5rem;
}

.company__info {
  margin-bottom: 1.25rem;
}

.company__project-section-callout {
  margin: 1.25rem 0;
}

.company__project {
  color: var(--color-tertiary-4);
  margin: 1rem;
}
