@import "colors.css";

html {
  background-color: var(--color-tertiary-4);
  min-height: 100%;
  color: var(--color-tertiary-3);
}

body {
  width: 960px;
  background-color: var(--color-secondary-1);
  margin: 0 auto;
  padding: 4rem 0.25rem 20vh;
  height: 100%;
}

@media print {
  body {
    padding-bottom: 0;
  }
}

h1, h2, h3 {
  color: var(--color-primary-2);
}

h4, h5, h6 {
  font-weight: bold;
}

h1, h2 {
  margin-bottom: 0.5rem;
}

a, a:active, a:link, a:visited {
  color: var(--color-primary-2);
  text-decoration: none;
}

header {
  text-align: center;
  margin-bottom: 4rem;
}