@import "colors.css";

.section {
  display: flex;
  /* justify-content: space-between; */
  /* background-color: var(--color-secondary-3); */
}

.section + .section {
  border-top: 0;
}

.section__label {
  text-align: right;
  width: 9rem;
  padding: 0.5rem 1rem;
  background-color: var(--color-secondary-1);
}

.section__content {
  border-left: 4px solid var(--color-secondary-3);
  width: calc(100% - 14rem - 0.25rem);
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  background-color: var(--color-secondary-1);
}
