<div class="company">
  <h3 class="company__name">Sr. Software Engineer, Carfax</h3>
  <p class="company__info">
    Centreville, VA (Remote)
    | February 2021 – Present
  </p>
  <ul>
    <li>Frontend guild leader.</li>
    <li>Mentors Jr. and Mid level developers while helping them play to strengths.</li>
    <li>Member of the Frontend Platform and support team.</li>
    <li>Owner of Carfax's UI component library.</li>
    <li>Played a critical role in SEO and core web scores for many products.</li>
    <li>Helps teams greenfield new products and guides them to success.</li>
  </ul>
</div>
