<div class="company">
  <h3 class="company__name">Software Engineer, Carfax</h3>
  <p class="company__info">
    Centreville, VA
    | August 2016 – October 2020
  </p>
  <ul>
    <li>
      Champion of BDD.
    </li>
    <li>
      Member of Frontend guild at Carfax.
    </li>
    <li>
      Aided team members in automating CI / CD via Webpack, Docker and Jenkins.
    </li>
  </ul>
  <h4 class="company__project-section-callout">Notable Projects</h4>
  <p class="company__project">Sell My Car - <a href="https://www.carfax.com/sell-my-car/">https://www.carfax.com/sell-my-car/</a></p>
  <ul>
    <li>Built a React / Redux app from the ground up.</li>
    <li>Written in Typescript, achieved 80% test coverage.</li>
    <li>Wrote Node backend to consolidate endpoints and serve frontend.</li>
    <li>Leveraged BDD and pair programming to deliver a robust UX.</li>
  </ul>
  <p class="company__project">History Base Value - <a href="https://www.carfax.com/value/">https://www.carfax.com/value/</a></p>
  <ul>
    <li>Lead rewrite of legacy app - used Typescript / React / Context API.</li>
    <li>Improved Google Page Speed Insight score from ~67 to ~93.</li>
    <li>Built Golang micro services and deployed to Kubernetes.</li>
    <li>Leveraged AWS Lambdas and SQS for reliability.</li>
    <li>Leveraged pre-rendering, code splitting and lazy loading.</li>
  </ul>
  <p class="company__project">Internal Analytics Dashboard (NDA on details)</p>
  <ul>
    <li>Built using Vue and Vuex.</li>
    <li>Integrated data with Apex Charts for visualizations.</li>
  </ul>
</div>
