<div class="company">
  <h3 class="company__name">Sr. Software Engineer, Artium</h3>
  <p class="company__info">
    New York, NY (Remote)
    | November 2020 – January 2021
  </p>
  <ul>
    <li>Full Stack technical consultant.</li>
    <li>Extreme programming educator.</li>
    <li>Mentored and skilled up teams while meeting deliverables.</li>
  </ul>
  <h4 class="company__project-section-callout">Engagements</h4>
  <ul>
    <li>Rollo Motion - Company Website.</li>
    <li>Aperture Healthcare - Medical Professional Credentialing System.</li>
  </ul>
</div>
