<div class="company">  
  <h3 class="company__name">Database Analyst II, Spargo Inc.</h3>
  <p class="company__info">
    Centreville, VA
    | August 2011 – March 2015
  </p>
  <ul>
    <li>
      Designed relational structures and optimized indices.
    </li>
    <li>
      Wrote advanced T-SQL to ETL data.
    </li>
  </ul>
</div>