<div class="company">  
  <h3 class="company__name">Web Developer II, Spargo Inc.</h3>
  <p class="company__info">
    Centreville, VA
    | March 2015  – July 2016
  </p>
  <ul>
    <li>
      Responsible for 8 consumer facing websites.
    </li>
    <li>
      Worked in a fast paced environment with sensitive deadlines.
    </li>
    <li>
      Sites were built and maintained with HTML, CSS, Javascript and JQuery.
    </li>
  </ul>
</div>