<div class="section">
  <h3 class="section__label">Education:</h3>

  <div class="section__content">
    <h3 class="company__name">St. John Fisher College</h3>
    <p class="company__info">
      B.S. Computer Science – June 2011
    </p>
  </div>
</div>
