<div class="section">
  <h3 class="section__label">Experience:</h3>

  <div class="section__content">
    {{> companyCarfax2}}
    {{> companyArtium}}
    {{> companyCarfax}}
    {{> companySpargoWeb}}
    {{> companySpargoDb}}
  </div>
</div>
