<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{#if htmlWebpackPlugin.options.isNoIndex}}
    <meta name="robots" content="noindex">
  {{/if}}
  <title>Kilburn Resume</title>
</head>
