<header>
  <h1>Tyler Kilburn</h1>
  <h2>Sr. Frontend Developer</h2>
  <h3 id="contact">
    <a href="mailto:tylerkilburn@gmail.com">tylerkilburn@gmail.com</a>
    | 585.797.4559
    | <a href="https://gitlab.com/tkil">https://gitlab.com/tkil</a>
  </h3>
</header>